<%- include('./partials/header.ejs')%>
    <div>
        <h3>Game Hub is for people who are passionate about video games and love to trade their video games with other gamers!.</h3>
        <p> A platform to trade video games with fellow players</p>
    </div>
<%- include('./partials/footer.ejs')%>