<%- include('./partials/header.ejs')%>
<div class="center-text cbody">
    <h1>Welcome to the Game Hub!</h1>
    <h2>Game Hub is for people who are passionate about video games and love to trade their video games with other gamers!</h2>
    <h3>Have a look at Some popular videogame suggestions to trade.</h3>
    <div class="grid-container-element">
        <div class="grid-child-element purple"><h3>Grand Theft Auto V</h3>
            <img src="./public/img/GTAV.png" alt="GTA V">
        </div>
        <div class="grid-child-element green"><h3>Minecraft</h3>
            <img src="./public/img/MC.jpeg" alt="Minecraft">
        </div>
        <div class="grid-child-element green"><h3>Resident Evil 4</h3>
            <img src="./public/img/RE4.jpeg" alt="Resident Evil4">
        </div>
        <div class="grid-child-element green"><h3>Fortnite</h3>
            <img src="./public/img/FE.png" alt="Fortnite">
        </div>
    </div>
</div>  
<%- include('./partials/footer.ejs')%>
   