<footer class="footer-box">
    <div>
        <p>Copyright &copy;  2022    |    <a style="color: white;" href="/about"> About</a>     |     <a style="color: white;" href="/contact">Contact</a></p>
        <p><a style="color: white;" href="#" class="fa fa-facebook"></a>   |
        <a style="color: white;" href="#" class="fa fa-instagram"></a>   |
        <a style="color: white;" href="#" class="fa fa-twitter"></a></p>
    </div>
</footer>
</body>
</html>